
.post{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.postTitle{
    text-align: center;
    color: var(--color-primary);
    margin: 0px;
    font-size: 1.3rem;
}

.postAuthor{
    text-align: center;
    color: var(--color-secondary);
    margin: 0px;
}

.postDate{
    text-align: center;
    margin: 0px;
    font-style: italic;
    font-size: 0.8rem;
}
.postBody{
    padding: 0px 5vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.more{
    text-decoration: underline;
}

.postBody h3{
    text-align: left;
}

.postBody img {
    max-height: 30vh;
    border-radius: 10px;
    border: 2px solid var(--color-secondary);
    text-align: center;
    display: block;
    margin: 0 auto;
}
