:root {
  --solarized-white: rgb(238, 232, 213);
  --text-color-dark: rgb(22, 25, 37);
  --post-link-background: goldenrod;
  --color-dark: #1f1f1f;
  --color-lessdark: #2c2c2c;
  /* --color-secondary: rgb(209, 97, 163); */
  --color-secondary: silver; /*rgb(130, 111, 255);*/
  /* --color-primary: rgb(253, 178, 2); */
  --color-primary: goldenrod;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--color-dark);
  color: var(--solarized-white);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
